[MASTER]
load-plugins=pylint_django
django-settings-module=config.settings
ignore-paths=
    .*/migrations/.*,
    .*/venv/.*

[MESSAGES CONTROL]
disable=
    too-few-public-methods,
    duplicate-code,

[BASIC]
good-names=i,j,k,pk,id

[FORMAT]
max-line-length=100

[DESIGN]
max-parents=12